body {
  background-image: url("./background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
  background-color: whitesmoke;
  box-shadow: 52px 44px 59px -22px rgba(15, 14, 14, 1);
}
.bg h1 {
  text-align: center;
}
.sign {
  margin-top: 20px;
  padding-bottom: 20px;
}

.email,
.password {
  border: 2px solid rgb(70, 35, 35);
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 40px;
  height: 35px;
  padding: 10px;
  width: 70%;
}

.email:focus,
.password:focus {
  border: 2px solid rgb(228, 74, 74);
}

.button {
  margin-top: 10px;
  border: 2px solid rgb(194, 154, 154);
  border-radius: 5px;
  margin-left: 110px;
  width: 50%;
  height: 40px;
}

.left1 {
  position: absolute;
  background-color: rgb(19, 12, 12);
  left: 28%;
  top: 30%;
  height: 30px;
  width: 80px;
  transform: rotate(135deg);
  opacity: 0.8;
}
.left2 {
  position: absolute;
  background-color: rgb(19, 12, 12);
  left: 28%;
  top: 71%;
  height: 30px;
  width: 80px;
  transform: rotate(45deg);
  opacity: 0.8;
}
.right1 {
  position: absolute;
  background-color: rgb(19, 12, 12);
  left: 66%;
  top: 30%;
  height: 30px;
  width: 80px;
  transform: rotate(45deg);
  opacity: 0.8;
}
.right2 {
  position: absolute;
  background-color: rgb(19, 12, 12);
  left: 66%;
  top: 71%;
  height: 30px;
  width: 80px;
  transform: rotate(135deg);
  opacity: 0.8;
}
