* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("background1.jpg");
  background-size: cover;
  font-family: sans-serif;
}

.bg {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.sign {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 80px 40px 40px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 52px 44px 59px -22px rgba(15, 14, 14, 1);
  color: #fff;
}

.sign h1 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #ff652f;
}
.sign .form-input {
  position: relative;
}
.sign .form-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.sign .form-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.sign .form-input input:focus + label {
  transform: translateY(-18px);
  color: #ff652f;
  font-size: 0.8rem;
}

.button {
  margin-top: 10px;
  border: 2px solid rgb(194, 154, 154);
  border-radius: 5px;
  margin-left: 180px;
  width: 40%;
  height: 40px;
  background: #ff652f;
}

.left1 {
  position: absolute;
  background-color: rgb(40, 4, 99);
  left: 32%;
  top: 21%;
  height: 40px;
  width: 130px;
  transform: rotate(135deg);
  opacity: 0.8;
}
.left2 {
  position: absolute;
  background-color: rgb(40, 4, 99);
  left: 32%;
  top: 73%;
  height: 40px;
  width: 130px;
  transform: rotate(45deg);
  opacity: 0.8;
}
.right1 {
  position: absolute;
  background-color: rgb(40, 4, 99);
  left: 58.5%;
  top: 21%;
  height: 40px;
  width: 130px;
  transform: rotate(45deg);
  opacity: 0.8;
}
.right2 {
  position: absolute;
  background-color: rgb(40, 4, 99);
  left: 58.5%;
  top: 73%;
  height: 40px;
  width: 130px;
  transform: rotate(135deg);
  opacity: 0.8;
}
